.footer {
  padding: 48px 0;
  background: rgb(63, 66, 85);

  &__container {
    display: flex;
    justify-content: space-between;
    max-width: 1286px;
    padding: 0 15px;
    margin: 0 auto;
  }
  &__preview {
    width: 296px;
  }
  &__content {
    max-width: 760px;
    display: flex;

    li {
      list-style: none;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 24px;
      color: rgb(255, 255, 255);
      font-family: Poppins;
      font-size: 24px;
      font-weight: 600;
    }
    span {
      color: rgb(212, 215, 230);
      font-family: Martel Sans;
      font-size: 16px;
      font-weight: 700;
    }
    &__about {
      margin-right: 90px;
    }
    &__help {
      margin-right: 90px;
    }
    &__contact {
    }
  }
}
