/* Основной фон */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-overlay-burger {
  z-index: 200;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(8px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay-burger.close {
  display: none;
}
/* Контейнер модалки */
.modal-content {
  background: #fff;
  border-radius: 12px;
  width: 750px;
  max-width: 90%;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Переключатель между формами */
.modal-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.switch-btn {
  background: transparent;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  color: #555;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
}

.modal-form {
  height: 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
}
.button_l {
  display: flex;
  justify-content: center;
}
/* Формы */
.modal-form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.modal-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.modal-form input {
  padding: 10px;
  border: 1px solid rgb(255, 225, 69);
  border-radius: 6px;
  font-size: 16px;
}

.modal-form button,
.button {
  margin-right: 10px;
  padding: 10px;
  background: rgb(255, 225, 69);
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s ease;
}

.modal-form button:hover,
.button:hover {
  background: rgb(150, 132, 43);
}
.switch__modal-form {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.switch-block {
  position: absolute;
  background-color: #263238;
  width: 440px;

  height: 340px;
}
.switch-block.login {
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  transition: 0.3s;
  top: -30px;
  left: -80px;
}
.switch-block.reg {
  clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  transition: 0.3s;
  top: -30px;
  left: 330px;
}
