.preview {
  padding: 210px 0 120px 0;
  margin-bottom: 127px;
  color: rgb(63, 66, 85);
  h1 {
    font-size: 58px;
    font-weight: 300;
    margin-bottom: 88px;
  }
  &__button {
    background: white;
    color: rgb(63, 66, 85);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    padding: 24px;
    margin-right: 24px;
    box-sizing: border-box;
    border: 2px solid rgb(255, 233, 124);
    border-radius: 4px;
    transition: 0.1s;
  }
  &__button:hover {
    color: rgb(96, 97, 100);
    -webkit-box-shadow: 0px -2px 41px 13px rgba(244, 250, 213, 1);
    -moz-box-shadow: 0px -2px 41px 13px rgba(244, 250, 213, 1);
    box-shadow: 0px -2px 41px 13px rgba(244, 250, 213, 1);
    border: 2px solid rgb(255, 213, 0);
    transform: scale(1.05);
    transition: 0.1s;
  }
  &__content {
    cursor: pointer;
    position: relative;

    &__function {
      z-index: 100;
      max-width: 534px;
      width: 100%;
      &__btn-list {
        display: flex;
      }
    }
  }
}

.marquee {
  color: rgb(155, 154, 154);
  font-size: 38px;
  font-weight: 300;
  padding: 30px;
  display: flex;
  animation: marquee 10s linear infinite;
}

.text {
  white-space: nowrap; /* Запрещаем перенос строки */
}

@keyframes marquee {
  0% {
    transform: translateX(100%); /* Начинаем справа */
  }
  100% {
    transform: translateX(-220%); /* Заканчиваем слева */
  }
}
.animation__content {
  &__image {
    border-radius: 50%;
    border-radius: 300px;
    z-index: 0;
    position: absolute;
    top: -100px;
    right: 10px;
    transition: 0.4s;
  }
  &__image::after {
    z-index: -1;
    content: "";
    background-color: rgb(255, 233, 124);
    position: absolute;
    border-radius: 500px;
    top: 10px;
    left: 20px;
    width: 650px;
    height: 670px;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.3s, transform 0.3s;
  }
  &__image:hover {
    transform: scale(1.01);
    transition: 0.2s;
  }
  &:hover &__image::after {
    opacity: 1;
    transform: scale(1);
  }
  &__image-animation {
    pointer-events: none;
    z-index: 100;
    position: absolute;
    top: 240px;
    right: 500px;
    transition: 0.4s;
  }
  &:hover &__image-animation {
    transition: 0.4s;
    transform: rotate(-48deg) translate(-250px, -50px) skew(1deg, -1deg);
  }
  &__arrow {
    position: absolute;
    bottom: -160px;
    right: 50px;
    transform: rotate(-12deg);
    transition: 0.4s;
    span {
      position: absolute;
      width: 150px;
      top: 70px;
      left: -50px;
    }
  }
  &:hover span {
    transform: scale(1.05);
    transition: 0.4s;
    color: rgb(159, 167, 56);
  }
  &:hover &__arrow {
    transform: rotate(-15deg);
    transition: 0.4s;
    color: rgb(159, 167, 56);
  }
}
