.products {
  &__list {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    padding: 55px 0 0 0;
    margin-bottom: 55px;
    height: 350px;
    overflow: hidden;
    transition: 1s;
    &.open {
      transition: 1s;
      height: 750px;
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    h2 {
      color: rgb(63, 66, 85);
      font-size: 36px;
      font-weight: 300;
      line-height: 64px;
      letter-spacing: 8%;
    }
    button {
      cursor: pointer;
      background: none;
      border: none;
      color: rgb(144, 147, 166);
      font-size: 16px;
      font-weight: 700;
    }
    button:hover {
      transform: scale(1.1);
      color: rgb(255, 225, 69);
    }
  }
}
.product__item {
  cursor: pointer;
  position: relative;
  color: rgb(96, 97, 100);
  max-width: 296px;
  list-style: none;

  &::after {
    width: 296px;
    height: 20px;
    position: absolute;
    top: -10px; /* Начальная позиция */
    left: 0; /* Чтобы разместить элемент относительно .product__item */
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
    content: "";
    transition: top 0.2s ease-in-out; /* Плавное изменение */
  }

  &:hover::after {
    top: -20px; /* Сдвиг при ховере */
  }

  margin-bottom: 24px;
  &__img {
    border-radius: 10px 10px 0 0;
  }
  &__name {
    font-size: 20px;
    font-weight: 800;
    color: rgb(78, 78, 78);
  }
  &__price {
    transition: 0.4s;
    font-size: 20px;
    font-weight: 700;
    color: rgb(188, 190, 48);
  }
  &:hover &__price {
    transition: 0.4s;
    color: rgb(232, 235, 19);
  }
  &__description {
    font-size: 12px;
    font-weight: 800;
    color: rgb(155, 154, 154);
  }
}
// .product__item::after {
//   width: 296px;
//   height: 20px;
//   position: absolute;
//   top: -10px;
//   border-radius: 10px 10px 0 0;
//   background-color: black;
//   content: "";
// }

.product {
  padding-top: 165px;

  display: flex;
  justify-content: space-around;
  &__content {
    max-width: 300px;
    height: 184px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
